<style>
	h1{
		font-family: 'Poiret One', cursive;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		padding-left: 865px;
		padding-top: 130px;
	}
	body{
		background-color: #eee;
	}
	#page-wrap{
		position: absolute;
		margin-left:auto;
		margin-right:auto;
		padding-top: 230px;
		padding-left: 780px;
	}
	#signup{
		margin-top: 25px;
		margin-left: 217px;
	}
	#login{
		margin-top: 25px;
	}
</style>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<body>
	<h1>Greenfield</h1>
	<div id="page-wrap">
		<img src="http://static1.squarespace.com/static/5147c7d0e4b07ce9211f3fcd/t/519bd2c4e4b0c8ea540e824f/1369166537563/Edamame.jpg" height="324">
		<div>
			<button id="login" type="button" class="btn-primary">Login</button>
			<button id="signup" type="button" class="btn-info">Signup</button>
		</div>
	</div>
</body>