<style>
	body {
		max-width: 330px;
	    padding: 15px;
	    margin: 0 auto;
	    margin-top: 180px;
	}
	#signup {
		margin-left: 218px;
	}
	#buttons{
		margin-top: 15px;
	}
</style>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<body>
	<h1>Greenfield</h1>
	<div id="page-wrap">
		<img src="http://static1.squarespace.com/static/5147c7d0e4b07ce9211f3fcd/t/519bd2c4e4b0c8ea540e824f/1369166537563/Edamame.jpg" height="324">
		<div id="buttons">
			<button id="login" type="button" class="btn-primary">Login</button>
			<button id="signup" type="button" class="btn-info">Signup</button>
		</div>
	</div>
</body>