<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-content">
                    <form class="form-login" ng-submit='login()'>
                        <h2 class="form-login-heading">Please login</h2>
                        <label for="inputUsername" class="sr-only"></label>
                        <input type="text" id="inputUsername" class="form-control sharp" placeholder="Username" ng-model="user.username" required autofocus>
                        <label for="inputPassword" class="sr-only"></label>
                        <input type="password" id="inputPassword" class="form-control sharp" placeholder="Password" ng-model="user.password" required>
                        <div>
                            <button class="btn btn-primary btn-lg sharp btn-block" id="login1" type="submit">Login</button>
                        </div>
                        <div>
                            <a href="#/signup">Don't have an account? <strong>Signup!</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>