<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-content">
                    <form class="form-signup" ng-submit='signup()'>
                        <h2 class="form-signup-heading">Create an account</h2>
                        <label for="inputUsername" class="sr-only"></label>
                        <input type="text" id="inputUsername" class="form-control sharp" placeholder="Username" ng-model="user.username" required autofocus>
                        <input type="email" id="inputEmail" class="form-control sharp" placeholder="Email" ng-model="user.email" required autofocus>
                        <label for="inputPassword" class="sr-only"></label>
                        <input type="password" id="inputPassword" class="form-control sharp" placeholder="Password" ng-model="user.password" required>
                        <input type="password" id="inputPassword" class="form-control sharp" placeholder="Confirm Password" ng-model="user.confirm" required>
                        <div id="check" ng-show="check">Password does not match, try again.</div>
                        <div>
                            <button id="submit" class="btn btn-lg btn-primary sharp btn-block" type="submit">Signup!</button>
                        </div>
                        <div>
                            <a href="#/login">Already have an account? <strong>Login!</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>