<div id="add">
    <h2>Select a recipe!</h2>
    <div>
        <div class="dropdown" >
            <select name="select" ng-model="selectedRecipe" ng-change="setRecipe(selectedRecipe)">
              <option ng-repeat="recipe in recipes" ng-click="click()">{{recipe.title}}</option>
            </select>
        </div>
    </div>
    <div ng-show="ingredients">Ingredients: </div>
    <div ng-bind="ingredients"></div>
    <div ng-show="instruction">Instructions: </div>
    <div ng-bind="instruction"></div>
    Comments:
    <div>
        <textarea ng-model="comments"></textarea>
    </div>
    <div id="upload">
        <input type="file" file-model="myFile"/>
        <button ng-click="uploadFile()">upload</button>
    </div>
</div>